databases:
  - name: ruralcare-db
    databaseName: ruralcare
    user: ruralcare
    plan: free
    region: oregon

services:
  - type: web
    name: rural-care
    runtime: python
    plan: free
    region: oregon
    buildCommand: "chmod +x build.sh && ./build.sh"
    startCommand: "gunicorn cancer_treatment_system.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ruralcare-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: DEBUG
        value: "False"
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: SUPABASE_SERVICE_KEY
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: ALCHEMY_RPC_URL
        sync: false
      - key: BLOCKCHAIN_PRIVATE_KEY
        sync: false
      - key: BLOCKCHAIN_CONTRACT_ADDRESS
        sync: false
      - key: PRESCRIPTION_CONTRACT_ADDRESS
        sync: false
      - key: BLOCKCHAIN_ENABLED
        sync: false
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: RAZORPAY_KEY_ID
        sync: false
      - key: RAZORPAY_KEY_SECRET
        sync: false
      - key: AGORA_APP_ID
        sync: false
      - key: AGORA_APP_CERTIFICATE
        sync: false
